.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;

  .content {
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: var(--white);

    .cover {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 370px;
      padding: 40px;
      overflow: hidden;
      text-align: center;

      .header-wrapper {
        position: relative;
        z-index: 2;
        backdrop-filter: blur(12px);
        padding: 30px 20px;
        border: 1px solid rgba(150, 150, 150, 0.129);
        text-align: center;
        border-radius: 12px;

        h1 {
          color: var(--white);
          z-index: 1;
          font-size: 28px;
        }
        span {
          color: var(--red);
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    form {
      width: 370px;
      display: block;
      padding: 60px;

      h2 {
        text-align: center;
        font-weight: 600;
        color: var(--black);
        font-size: x-large;
        margin-bottom: 25px;
      }

      .form-field {
        margin-top: 15px;

        label {
          display: block;
          margin-bottom: 5px;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.5);
          transition: 0.3s;

          &.invalid {
            color: var(--red);
            transform: translateY(-5px);
          }
        }

        .input-wrapper {
          position: relative;

          input {
            width: 100%;
            padding: 10px;
            border: 1px solid var(--grey);
            border-radius: var(--border-radius);
            font-size: 14px;

            &:focus {
              border-color: var(--black);
              outline: none;
            }

            &.invalid {
              border-color: var(--red);
            }
          }

          .error {
            color: var(--red);
            font-size: 12px;
            position: absolute;
            left: 10px;
            top: -12px;
            transform: translateY(5px);
            pointer-events: none;
            background-color: var(--white);
            padding: 0 5px;
          }
        }

        &:focus-within {
          label:not(.invalid) {
            color: var(--black);
          }
        }
      }

      button {
        width: 100%;
        margin-top: 30px;
      }

      .login-link {
        font-size: 14px;
        text-align: center;
        margin-top: 25px;

        a {
          color: var(--red);
          font-weight: bold;
        }
      }
    }
  }
}
