.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--white);
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    font-size: 22px;

    .logo {
      color: var(--red);
      font-weight: bold;
    }
  }
}
