<div #header class="header">
  <nav>
    <ul>
      <li>
        <a routerLink="/counter" routerLinkActive="active" ariaCurrentWhenActive="page" role="tab">
          <button>Counter</button>
        </a>
      </li>
      <li>
        <a routerLink="/gallery" routerLinkActive="active" ariaCurrentWhenActive="page" role="tab">
          <button>Gallery</button>
        </a>
      </li>
    </ul>
  </nav>
  <div class="profile">
    <button (click)="signIn()" *ngIf="!token">Sign in</button>
    <div #dropdownMenu class="dropdown" [class.open]="isDropdownOpen" *ngIf="token">
      <button (click)="toggleDropdown()">{{ token.username }}</button>
      <div class="dropdown-content">
        <div (click)="signOut()">Sign out</div>
      </div>
    </div>
  </div>
</div>
