<div #pinElem class="pin" (click)="handleClick()" [class.fullscreen]="isFullscreen">
  <div class="overlay" [class.active]="isOverlayActive">
    <div *ngIf="isFullscreen && !movies.length && !isNoMovies" class="message" [class.active]="isOverlayLoader">
      Looking for movies for you...
    </div>
    <div *ngIf="isFullscreen && !movies.length && isNoMovies" class="message" [class.active]="isNoMovies">
      Sorry, we couldn't find anything 😔
    </div>
    <div class="movies" [class.active]="movies.length > 0">
      <div class="movies-list">
        <app-movie-card *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
      </div>
    </div>
  </div>
  <button class="close-btn" *ngIf="isFullscreen" (click)="closeFullscreen($event)">&times;</button>
  <img src="{{ pin.urls.raw }}" alt="" (load)="onImageLoad()" role="img" />
</div>
