.movie-card {
  backdrop-filter: blur(100px);
  //   border: 1px solid rgba(122, 122, 122, 0.7);
  border-radius: 15px;
  display: flex;
  overflow: hidden;

  .movie-poster {
    width: 270px;
    object-fit: cover;
    height: auto;
  }

  .movie-info {
    padding: 40px;

    h3 {
      margin: 0;
      font-size: 1.6rem;
      color: #222;
      font-weight: bold;
    }

    .genre,
    .release-date,
    .rating {
      font-size: 1rem;
      color: #555;
      margin: 5px 0;
    }

    .description {
      font-size: 0.9rem;
      color: #444;
      margin: 10px 0;
      line-height: 1.5;
    }

    button {
      margin-top: 20px;
      width: 100%;
    }
  }
}
