* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;

  --white: #ffffff;
  --black: #101010;
  --grey: #cccccc;
  --light-grey: #e4e4e4;
  --red: #f11b1b;
  --black-transparent: rgba(0, 0, 0, 0.9);
}

a {
  text-decoration: none;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  font-family: inherit;
  color: var(--white);
  background-color: var(--red);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.1s;

  &:active {
    transform: scale(0.85);
  }

  &:disabled {
    background-color: var(--grey);
    cursor: not-allowed;
    transform: none;
  }
}
