* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;

  --white: #ffffff;
  --black: #101010;
  --grey: #cccccc;
  --light-grey: #e4e4e4;
  --red: #f11b1b;
  --dark-red: #d11a1a;
  --black-transparent: rgba(0, 0, 0, 0.9);
  --border-radius: 8px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  font-family: inherit;
  color: var(--white);
  background-color: var(--red);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active:not(:disabled) {
    transform: scale(0.95);
  }

  &:hover:not(:disabled) {
    background-color: var(--dark-red);
  }

  .loader {
    border: 2px solid var(--white);
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 18.5px;
    height: 18.5px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}
